<div class="container ">
    <div class="table-responsive">
        <style>
            #thead {
                border-bottom: solid 5px #0F362D;
            }
        </style>

        <table class="table table-striped table-bordered table-hover text-center border-info ">
            
            <thead id="thead">
                <tr class="alert-success text-center text-dark">
                    <th>Codigo</th>
                    <th>Nombre y apellidos</th>
                    <th>Cuenta</th>
                </tr>
            </thead>
      @foreach (var usuarios in Model.Usuarios)
            {
                
                <tr class="border-info">

                    <td>@usuarios.CodigoUsuario</td>
                    <td>@usuarios.NombreUsuario @usuarios.ApellidoUsuario </td>
                    <td>@usuarios.CuentaUsuario</td>
                 
                </tr>
            }

        </table>
    </div>
</div> <br />
