@model UsuariosViewModel
<title>Lista Usuarios</title>
<div class="container text-center" style="background:rgba(128, 128, 128, 0.55)">
    <br />
    <h1>@Model.Titulo </h1>
    <br />
    <h3>@Model.subtitulo</h3>
    <br />
    <br />
</div>
<br />

<br/>
 @Html.Partial("DesplegarUsuarios")



    